---
---

@import "{{ site.theme }}";

.page-header {
    padding: 0.5rem;
}

a h1 {
    color: #eeeeee;
}

/* You know what? Table headers are for wimps. (I have a use case in mind.) */
thead {
    display: none;
}
